body {
    margin: 0;
    padding: 20px;
    /* background-color: #f9f9f9; */
    font-family: sans-serif;
}

.container {
    margin-bottom: 50px;
    padding-left: 1rem;
    margin-left: 12%;
}

.card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.card-header, .status {
    text-align: center;
    margin-bottom: 10px;
}

.card-header h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.status {
    color: #666666;
    font-size: 0.9rem;
    margin: 10px 0;
}

.view-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.view-btn {
    background-color: teal;
    color: #ffffff;
    border: none;
    padding: 8px 30px;
    font-size: 0.9rem;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s;
}

.view-btn:hover {
    background-color: #00AFB9;
}

/* Headbar styling */
.headbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 12%;
}

/* Menu styling */
.menu {
    text-align: right;
    position: relative;
}

.submenu {
    background-color: rgb(142, 232, 227);
    position: absolute;
    display: none;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    border-radius: 0.3rem;
    list-style: none;
    right: 0;
}

.submenu li {
    padding: 0.5rem 1rem;
    text-align: center;
    color: black;
}

#name {
    white-space: nowrap;
    border-bottom: 1px solid black;
}

.menu:hover .submenu {
    display: block;
}

.submenu-item {
    text-decoration: none;
    color: black;
}

.submenu-item:hover {
    cursor: pointer;
    color:#00AFB9;
}
